# FERRAMENTAS

In [43]:
import pandas as pd

In [55]:
data = pd.read_csv("datas/BankChurners-analysis.csv", sep=";")

# Exploração dos dados

In [56]:
# verificando como o dataset está se comportando
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,"$12.691,00","$777,00","$11.914,00","1,34%",1144,42,"1,63%","0,06%"
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,"$8.256,00","$864,00","$7.392,00","1,54%",1291,33,"3,71%","0,11%"
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,"$3.418,00",$-,"$3.418,00","2,59%",1887,20,"2,33%","0,00%"
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,"$3.313,00","$2.517,00","$796,00","1,41%",1171,20,"2,33%","0,76%"
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,"$4.716,00",$-,"$4.716,00","2,18%",816,28,"2,50%","0,00%"

In [57]:
# verficar informações para entender as colunas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13   Credit_Limit             10127 non-null  object
 14   Total_Revolving_Bal      10127 non-null  object
 15   Avg_Open_To_Buy          10127 non-null  object
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  object
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  object
 20  Avg_Utilization_Ratio     10127 non-null  object
dtypes: int64(9), object(12)
memory usage: 1.6+ MB

In [58]:
# removendo espaços em branco no nome das colunas
data = data.rename(columns=lambda x: x.strip())

In [59]:
# uma verificada se os espaços extras nas variáveis foram retiradas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  object
 14  Total_Revolving_Bal       10127 non-null  object
 15  Avg_Open_To_Buy           10127 non-null  object
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  object
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  object
 20  Avg_Utilization_Ratio     10127 non-null  object
dtypes: int64(9), object(12)
memory usage: 1.6+ MB

In [60]:
# verificando como o dataset se comporta
data['Credit_Limit']

0         $12.691,00
1          $8.256,00
2          $3.418,00
3          $3.313,00
4          $4.716,00
             ...
10122      $4.003,00
10123      $4.277,00
10124      $5.409,00
10125      $5.281,00
10126     $10.388,00
Name: Credit_Limit, Length: 10127, dtype: object

#### Tranformação dos dados pois existem variáveis que deve estar como float

In [62]:
# limpando a moeda para que fique no formato padrão
data['Credit_Limit'] = data['Credit_Limit'].str.replace(' ', '').str.replace('$', '').str.replace('.', '')
data['Credit_Limit'] = data['Credit_Limit'].str.replace(',', '.')
data['Credit_Limit']

0        12691.00
1         8256.00
2         3418.00
3         3313.00
4         4716.00
           ...
10122     4003.00
10123     4277.00
10124     5409.00
10125     5281.00
10126    10388.00
Name: Credit_Limit, Length: 10127, dtype: object

In [63]:
# tranformando para float
data['Credit_Limit'] = pd.to_numeric(data['Credit_Limit'], errors='raise')

In [64]:
# verificando se houve alteração
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  object
 15  Avg_Open_To_Buy           10127 non-null  object
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  object
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  object
 20  Avg_Utilization_Ratio     10127 non-null  object
dtypes: float64(1), int64(9), object(11)
memory usage: 1.6+ MB