# FERRAMENTAS

In [2]:
import pandas as pd
import numpy as np

In [2]:
# Acessando o arquivo
data = pd.read_csv("datas/BankChurners-analysis.csv", sep=";")

# Exploração dos dados

In [1]:
# verificando como o dataset está se comportando
data.head()

NameError: name 'data' is not defined

In [4]:
# verficar informações para entender as colunas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13   Credit_Limit             10127 non-null  object
 14   Total_Revolving_Bal      10127 non-null  object
 15   Avg_Open_To_Buy          10127 non-null  object
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  object
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  object
 20  Avg_Utilization_Ratio     10127 non-null  object
dtypes: int64(9), object(12)
memory usage: 1.6+ MB

In [5]:
# removendo espaços em branco no nome das colunas
data = data.rename(columns=lambda x: x.strip())

# removendo espaços extras nos dados
data =  data.map(lambda x: x.strip() if isinstance(x, str) else x)

In [6]:
# uma verificada se os espaços extras nas variáveis foram retiradas
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  object
 14  Total_Revolving_Bal       10127 non-null  object
 15  Avg_Open_To_Buy           10127 non-null  object
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  object
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  object
 20  Avg_Utilization_Ratio     10127 non-null  object
dtypes: int64(9), object(12)
memory usage: 1.6+ MB

In [7]:
# As colunas 13, 14, 15 são moedas, precisamos formatá-las para conseguirmos fazer cálculos
data['Credit_Limit']

0        $12.691,00
1         $8.256,00
2         $3.418,00
3         $3.313,00
4         $4.716,00
            ...
10122     $4.003,00
10123     $4.277,00
10124     $5.409,00
10125     $5.281,00
10126    $10.388,00
Name: Credit_Limit, Length: 10127, dtype: object

#### Tranformação dos dados pois existem variáveis que deve estar como float

In [8]:
# VARIÁVEIS Total_Amt_Chng_Q4_Q1, Total_Ct_Chng_Q4_Q1, Avg_Utilization_Ratio SÃO DADOS COM PORCENTAGENS.
# VAMOS RENOMEAR A VARIÁVEL INCLUINDO O SÍMBOLO DE PORCENTAGEM E RETIRAR TODOS OS SÍMBOLOS DE PORCENTAGEM DOS DADOS
# DEPOIS VAMOS TRANSFORMAR PARA FLOAT

data = data.rename(columns={'Total_Amt_Chng_Q4_Q1': 'Total_Amt_Chng_Q4_Q1(%)', 'Total_Ct_Chng_Q4_Q1': 'Total_Ct_Chng_Q4_Q1(%)', 'Avg_Utilization_Ratio':'Avg_Utilization_Ratio(%)'})

In [9]:
# limpando símbolos de moeda e porcentagem para que fique no formato padrão para transformação 

data['Credit_Limit'] = data['Credit_Limit'].str.replace(' ', '').str.replace('$', '').str.replace('.', '')
data['Credit_Limit'] = data['Credit_Limit'].str.replace(',', '.')

data['Total_Revolving_Bal'] = data['Total_Revolving_Bal'].str.replace(' ', '').str.replace('$', '').str.replace('.', '')
data['Total_Revolving_Bal'] = data['Total_Revolving_Bal'].str.replace(',', '.')

data['Avg_Open_To_Buy'] = data['Avg_Open_To_Buy'].str.replace(' ', '').str.replace('$', '').str.replace('.', '')
data['Avg_Open_To_Buy'] = data['Avg_Open_To_Buy'].str.replace(',', '.')


data['Total_Amt_Chng_Q4_Q1(%)'] = data['Total_Amt_Chng_Q4_Q1(%)'].str.replace('%', '').str.replace(',', '.')
data['Total_Ct_Chng_Q4_Q1(%)'] = data['Total_Ct_Chng_Q4_Q1(%)'].str.replace('%', '').str.replace(',', '.')
data['Avg_Utilization_Ratio(%)'] = data['Avg_Utilization_Ratio(%)'].str.replace('%', '').str.replace(',', '.')

In [10]:
# Chegando para ver se os dados de moeda e porcentagens foram limpados corretamente
data.iloc[:, 13:21]

,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1(%),Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1(%),Avg_Utilization_Ratio(%)
0,12691.00,777.00,11914.00,1.34,1144,42,1.63,0.06
1,8256.00,864.00,7392.00,1.54,1291,33,3.71,0.11
2,3418.00,-,3418.00,2.59,1887,20,2.33,0.00
3,3313.00,2517.00,796.00,1.41,1171,20,2.33,0.76
4,4716.00,-,4716.00,2.18,816,28,2.50,0.00
...,...,...,...,...,...,...,...,...
10122,4003.00,1851.00,2152.00,0.70,15476,117,0.86,0.46
10123,4277.00,2186.00,2091.00,0.80,8764,69,0.68,0.51
10124,5409.00,-,5409.00,0.82,10291,60,0.82,0.00
10125,5281.00,-,5281.00,0.54,8395,62,0.72,0.00
10126,10388.00,1961.00,8427.00,0.70,10294,61,0.65,0.19

In [11]:
# tranformando dados de moeda e porcentagem para float
# o errors=coerce é para configurar para NaN caso não exista nenhum valor
data['Credit_Limit'] = pd.to_numeric(data['Credit_Limit'], errors='coerce')
data['Total_Revolving_Bal'] = pd.to_numeric(data['Total_Revolving_Bal'], errors='coerce')
data['Avg_Open_To_Buy'] = pd.to_numeric(data['Avg_Open_To_Buy'], errors='coerce')

data['Total_Amt_Chng_Q4_Q1(%)'] = pd.to_numeric(data['Total_Amt_Chng_Q4_Q1(%)'], errors='coerce')
data['Total_Ct_Chng_Q4_Q1(%)'] = pd.to_numeric(data['Total_Ct_Chng_Q4_Q1(%)'], errors='coerce')
data['Avg_Utilization_Ratio(%)'] = pd.to_numeric(data['Avg_Utilization_Ratio(%)'], errors='coerce')

In [12]:
# verificando se houve alteração
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       7657 non-null   float64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1(%)   10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1(%)    10127 non-null  float64
 20  Avg_Utilization_Ratio(%)  10127 non-null  float64
dtypes: float64(6), int64(9), object(6)
memory usage: 1.6+ MB

In [13]:
# verificando comos os dados estão
data.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1(%),Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1(%),Avg_Utilization_Ratio(%)
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777.0,11914.0,1.34,1144,42,1.63,0.06
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864.0,7392.0,1.54,1291,33,3.71,0.11
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,NaN,3418.0,2.59,1887,20,2.33,0.00
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517.0,796.0,1.41,1171,20,2.33,0.76
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,NaN,4716.0,2.18,816,28,2.50,0.00

#### Verificando se há duplicações

In [14]:
data.duplicated().sum()

0

#### Verificando se há valores nulos

In [15]:
data.isnull().sum()

CLIENTNUM                      0
Attrition_Flag                 0
Customer_Age                   0
Gender                         0
Dependent_count                0
Education_Level                0
Marital_Status                 0
Income_Category                0
Card_Category                  0
Months_on_book                 0
Total_Relationship_Count       0
Months_Inactive_12_mon         0
Contacts_Count_12_mon          0
Credit_Limit                   0
Total_Revolving_Bal         2470
Avg_Open_To_Buy                0
Total_Amt_Chng_Q4_Q1(%)        0
Total_Trans_Amt                0
Total_Trans_Ct                 0
Total_Ct_Chng_Q4_Q1(%)         0
Avg_Utilization_Ratio(%)       0
dtype: int64

In [16]:
# obtendo mais detalhes de valores nulos na coluna
data[data.isnull().any(axis=1)]

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1(%),Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1(%),Avg_Utilization_Ratio(%)
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,NaN,3418.0,2.59,1887,20,2.33,0.0
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,NaN,4716.0,2.18,816,28,2.50,0.0
12,710599683,Existing Customer,56,M,1,College,Single,$80K - $120K,Blue,36,...,6,0,11751.0,NaN,11751.0,3.40,1539,17,3.25,0.0
21,708508758,Attrited Customer,62,F,0,Graduate,Married,Less than $40K,Blue,49,...,3,3,1438.3,NaN,1438.3,1.05,692,16,0.60,0.0
24,789124683,Existing Customer,54,M,2,Unknown,Married,$80K - $120K,Blue,42,...,2,3,12217.0,NaN,12217.0,1.08,1110,21,0.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10109,780613758,Existing Customer,47,M,5,High School,Single,Less than $40K,Blue,35,...,3,5,4165.0,NaN,4165.0,0.81,17093,111,0.82,0.0
10112,708564858,Attrited Customer,33,M,2,College,Married,$120K +,Gold,20,...,1,4,34516.0,NaN,34516.0,1.00,9338,73,0.62,0.0
10114,720841533,Existing Customer,29,M,0,Graduate,Married,Less than $40K,Blue,15,...,1,5,4700.0,NaN,4700.0,0.62,14723,96,0.66,0.0
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,3,4,5409.0,NaN,5409.0,0.82,10291,60,0.82,0.0
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,NaN,5281.0,0.54,8395,62,0.72,0.0

In [17]:
# Os valores que estão como NaN estavam configurado como "-" precisei alterar para NaN com corce na sessão de código que tem o comentário abaixo:
# ->> limpando símbolos de moeda e porcentagem para que fique no formato padrão para transformação <-- #

# Como o valor estava configurado com "-" irei dá-los o valor nulo como 0

data['Total_Revolving_Bal'] = data['Total_Revolving_Bal'].fillna(0)

In [20]:
# Verificando se alguns valores com NaN foram alterados para o valor 0
data.loc[[2, 4, 12, 21, 24], 'Total_Revolving_Bal']

2     0.0
4     0.0
12    0.0
21    0.0
24    0.0
Name: Total_Revolving_Bal, dtype: float64

In [21]:
# verificando se os valores nulos foram resolvidos
data.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1(%)     0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1(%)      0
Avg_Utilization_Ratio(%)    0
dtype: int64

In [22]:
# Verificando a descrição das colunas
data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1(%),Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1(%),Avg_Utilization_Ratio(%)
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.760453,4404.086304,64.858695,0.712678,0.275281
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219254,3397.129254,23.472570,0.238079,0.275868
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.630000,2155.500000,45.000000,0.580000,0.020000
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.740000,3899.000000,67.000000,0.700000,0.180000
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.860000,4741.000000,81.000000,0.820000,0.500000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.400000,18484.000000,139.000000,3.710000,1.000000